@import "variables";

.label.error,
.payment-title.error {
  color: rgba($color-red, 0.4);
}

.input-sm.error,
.input-lg.error {
  border: 1px solid rgba($color-red, 0.3);
}

.error-msg-title,
.error-msg-descr,
.error-msg-fee,
.error-msg-date {
  position: relative;
  //display: inline-block;
  font-size: 14px;
  background: $color-error;
  border-radius: 3px;
  color: $color-wh;
  padding: 6px 9px;
  font-weight: 100;

  .caret {
    position: absolute;
    color: $color-error;
    left: -5px;
    top: 50%;
    transform: translateY(-50%) scale(1.2);
  }
}

.error-msg-fee {
  //width: 145px;
  //height: 25px;
  //top: 5px;
  //right: -298px;
}

.error-msg-date {
  //width: 145px;
  //height: 55px;
  //top: -11px;
  //right: -399px;
}


