$font-family: 'Source Sans Pro', sans-serif;
$color-header-bg: #355990;
$color-header-bd: #1e3b68;
$color-bg-gray: #f7f7f7;
$color-label: #9fb2cd;
$color-select-bg: transparent;
$color-red: #ff0000;
$color-error: #ffb2b2;
$color-success-font: #71bf75;
$color-success-bg: #f0fcf3;
$color-submit: #ff8e1c;
$color-wh: #ffffff;
$color-bck: #000000;
