@import "variables";

.container {
  width: 1056px;
  height: 1145px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-basis: 94px;
}

.header {
  height: 94px;
  background: $color-header-bg;
  border-top: 14px solid $color-header-bd;
  padding: 0 168px;
}

.header__title {
  color: white;
  font-size: 33px;
  font-weight: 100;
}

.content {
  height: 100%;
  background: $color-bg-gray;
  padding: 31px 127px;
}