@import "../../../scss/variables";

.success {
  width: 100%;
  max-width: 802px;
  margin: 0 auto;
  background: $color-success-bg;
  border-radius: 2px;
  box-shadow: 0 0 7px 1px rgba(black, 0.08);
  padding: 22px 40px;
}

.success__title {
  color: $color-success-font;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 100;
}

.success__info {
  color: rgba($color-bck, 0.5);
  font-size: 16px;
}