@import "../../../scss/variables";

.container {
  width: 100%;
  max-width: 1056px;
  margin: 0 auto;
}

.header {
  background: $color-header-bg;
  border-top: 14px solid $color-header-bd;
  padding: 1px 3%;
}

.header__title {
  color: $color-wh;
  font-size: 33px;
  font-weight: 100;
  width: 100%;
  max-width: 802px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4%;
  padding-right: 4%;
}

.content {
  background: $color-bg-gray;
  padding: 3%;
}