@import "../../../scss/variables";

.container {
  width: 100%;
  max-width: 1056px;
  margin: 0 auto;
}

.header {
  background: $color-header-bg;
  border-top: 14px solid $color-header-bd;
  padding: 1px 15.5%;
}

.header__title {
  color: $color-wh;
  font-size: 33px;
  font-weight: 100;
}

.content {
  background: $color-bg-gray;
  padding: 3% 12%;
}